<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kma.comis5.sample.mapper.TestMapper">
	<select id="selectTest" resultType="ReturnVO">
		SELECT *
		FROM TEST_TABLE
		WHERE test_col2 = #{num}
		AND test_col3 = '${content}'
	</select>
</mapper>