[v-cloak] {
	display: none;
}

body {
	padding: 0;
	margin: 0;
}
html,
body,
#app,
#map {
	height: 100%;
	width: 100vw;
}

/* app common css */
.application {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #eee !important;
}

#app {
	position: relative;
}

#controller {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}
